
/* .App{
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-bottom: 1px solid #ededed;
} */

.f_video_player_{
    width: 100% !important;
    /* height: 82vh !important; */
    /* border: 1px solid red; */
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -10;
    min-width: 100% !important; 
    min-height: 100% !important;
}

.nav_bar_{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    padding: 18px;
}

.logo{
    font-size: 20px;
}

.lkjh{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    width: 150px;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14.4px;
    border: 1px solid #eee;
    font-weight: bold;
}

.ques{
    width: 30px;
    padding: 8px;
    font-size: 21px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: bold;
}